/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  padding: 40px 40px 0px;
  background-color: #f65f4e;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
