.flex {
  display: flex;
}

.country {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  flex-wrap: wrap;
}
.country-tile {
  justify-content: center;
  align-items: center;
  background-color: rgb(165, 165, 196);
  width: 180px;
  height: 60px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
}
