/* .flex {
  display: flex;
}

.country {
  display: grid;
  background-color: #fdf4e3;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  flex-wrap: wrap;
}
.country-tile {
  justify-content: center;
  align-items: center;
  border: 1px solid #fdf4e3;
  font-size: 18px;
  width: 180px;
  height: 60px;
  margin: 10px;
  cursor: pointer;
}

.country-tile:hover {
  color: #032c58;
  border: 1px solid #032c58;
  border-radius: 10px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
} */

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
