<div class="body">
  <div class="heading">
    <div class="page-heading">Covid Status in</div>
    <div class="page-title">The World</div>
  </div>
  <div id="home-main-area">
    <div id="card" class="summary-card flex">
      <div>
        <div class="value-1">
          {{ globalSummaryData.NewConfirmed }}
        </div>
        <div class="value-text">Confirmed Cases</div>
      </div>
    </div>

    <div id="card" class="summary-card flex">
      <div>
        <div class="value-2">
          {{ globalSummaryData.NewDeaths }}
        </div>
        <div class="value-text">Deaths</div>
      </div>
    </div>

    <div id="card" class="summary-card flex">
      <div>
        <div class="value-3">
          {{ globalSummaryData.NewRecovered }}
        </div>
        <div class="value-text">Recoverys</div>
      </div>
    </div>

    <div id="card" class="summary-card flex">
      <div>
        <div class="value-1">
          {{ globalSummaryData.TotalConfirmed }}
        </div>
        <div class="value-text">Total Confirmed Cases</div>
      </div>
    </div>

    <div id="card" class="summary-card flex">
      <div>
        <div class="value-2">
          {{ globalSummaryData.TotalDeaths }}
        </div>

        <div class="value-text">Total Deaths</div>
      </div>
    </div>

    <div id="card" class="summary-card flex">
      <div>
        <div class="value-3">
          {{ globalSummaryData.TotalRecovered }}
        </div>
        <div class="value-text">Total Recovery</div>
      </div>
    </div>
  </div>
</div>
