<div id="home-main-area">
  <div class="summary-card flex">
    <div>
      New Confirmed:
      <div class="value">{{ summaryData.NewConfirmed }}</div>
    </div>
  </div>
  <div class="summary-card flex">
    <div>
      Total Confirmed:
      <div class="value">{{ summaryData.TotalConfirmed }}</div>
    </div>
  </div>
  <div class="summary-card flex">
    <div>
      New Deaths:
      <div class="value">{{ summaryData.NewDeaths }}</div>
    </div>
  </div>
  <div class="summary-card flex">
    <div>
      Total Deaths:
      <div class="value">{{ summaryData.TotalDeaths }}</div>
    </div>
  </div>
  <div class="summary-card flex">
    <div>
      New Recovered:
      <div class="value">{{ summaryData.NewRecovered }}</div>
    </div>
  </div>
  <div class="summary-card flex">
    <div>
      Total Recovered:
      <div class="value">{{ summaryData.TotalRecovered }}</div>
    </div>
  </div>
</div>
