@font-face {
  font-family: "Rocoleta";
  src: url("./fonts/recoleta-regulardemo.otf") format("opentype");
}

body {
  font-family: sans-serif;
  margin: 0;
}

#header {
  padding: 0px 70px 0px 70px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

#logo-header {
  width: 12em;
  height: 3em;
  padding-top: 10px;
}

#moto {
  color: #7c7476;
  font-size: 18px;
  margin-top: 15px;
}

.sticky {
  position: sticky;
  top: 0;
}

.pointer {
  cursor: pointer;
}

.inline {
  display: flex;
}

.orange-candidate,
.orange-doctor {
  border: 2px solid #ee6d57;
  border-radius: 5px;
  font-weight: 550;
  font-size: 15px;
  align-items: center;
  max-height: 30px;
  padding: 5px 20px 5px 20px;
  width: fit-content;
}

#orange-buttons {
  justify-content: space-between;
  margin: 10px;
}

.orange-doctor {
  color: #ffffff;
  background-color: #ee6d57;
}

.doctor-1 {
  color: #ffffff;
  background-color: #ee6d57;
  margin-left: 10px;
}

.orange-doctor:hover {
  background-color: #f18a79;
  border-color: #f18a79;
  color: #fffffff1;
}

.orange-candidate {
  color: #ee6d57;
  background-color: #ffffff;
}

.orange-candidate:hover {
  color: #f18a79f1;
  border-color: #f18a79f1;
}

.grey-navs {
  background-color: #f8f8f8;
  padding: 3px 75px 3px 75px;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}

.grey-navs-contents {
  padding: 15px 40px 15px 0px;
  font-weight: bold;
  font-size: 15px;
  color: #404041;
  position: relative;
}

.doctorPatient {
  width: 45vw;
  height: 70vh;
}

.mainArea {
  justify-content: space-between;
  padding: 70px 0px 70px 70px;
  height: 70vh;
  width: 85vw;
}

.mainText {
  flex-direction: column;
  padding: 8vh 0vw 2vh 8vw;
}

#mainText1,
#main-text-2,
#main-text-3,
#main-text-4,
#main-text-5,
#main-text-6,
#main-text-7,
#main-text-8,
.main-text-9,
#main-text-10,
#main-text-11,
#main-text-13 {
  font-family: "Rocoleta";
  font-weight: 900;
  color: #404041;
  font-weight: bold;
  font-size: 40px;
}

#mainText1 {
  padding-top: 100px;
  padding-bottom: 15px;
}

#subText1,
#sub-text-2,
#sub-text-3,
#sub-text-5,
#sub-text-6,
#sub-text-7,
#sub-text-8,
.sub-text-9,
.sub-text-10,
#sub-text-11 {
  color: #404041;
  font-weight: 200;
  font-size: 18px;
}

#subText1 {
  padding: 10px 10px 50px 0px;
}

#green-candidate {
  color: #ffffff;
  background-color: #43a0b2;
  border: 2px solid #43a0b2;
  border-radius: 5px;
  font-weight: 550;
  font-size: 15px;
  padding: 15px 20px 15px 20px;
  max-height: 30px;
  width: fit-content;
}

#green-candidate:hover {
  background-color: #90ceda;
  border-color: #90ceda;
  color: #fcfbf7;
}

.drop-down-menu {
  display: none;
  position: absolute;
  margin-top: 18px;
  padding: 5px 19px 5px 19px;
  border: 1px solid #e0e0e0;
  background-color: #f8f8f8;
}

.drop-down-display:hover div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: auto;
  height: auto;
}

a {
  color: #404041;
  text-decoration: none;
  display: block;
}

.drop-down-text {
  white-space: nowrap;
  padding: 13px 0px 13px 0px;
}

.drop-down-text:hover {
  color: #ee6d57;
}

.footer {
  padding: 30px 250px 30px 250px;
  justify-content: flex-start;
  align-items: center;
}

.footer > * {
  padding: 0px 30px 0px 30px;
}

#award_1 {
  width: 55px;
  height: 23px;
}

#award_2 {
  width: 40px;
  height: 23px;
}

#award_3 {
  width: 80px;
  height: 50px;
}

#award_4 {
  width: 80px;
  height: 80px;
}

#award_5 {
  width: 75px;
  height: 75px;
}

#award_6 {
  width: 60px;
  height: 23px;
}

#award_7 {
  width: 60px;
  height: 20px;
}

#main-area-2 {
  height: 75vh;
  width: 95vw;
  padding: 10px;
}

#orthofx_bathroom_07-1 {
  width: 60vw;
  height: 75vh;
}

#main-text-area-2 {
  padding: 200px 0px 0px 100px;
  flex-direction: column;
}

#sub-text-2 {
  line-height: 2em;
  padding-top: 2vh;
  color: #404041;
  margin-right: 10vw;
}

#main-area-3 {
  padding: 0px 30px 50px 30px;
}

#main-text-area-3 {
  width: 50vw;
  height: 70vh;
  flex-direction: column;
  margin: 17vh 14vw 17vh 3vw;
}

#sub-text-3 {
  line-height: 2em;
  padding-top: 2vh;
  color: #404041;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-list {
  margin-top: 1em;
}

.doctor-2 {
  padding: 15px 20px 15px 20px;
  margin-top: 1em;
}

#main-area-4 {
  background-color: #74c2d1;
  color: #ffffff;
}

#aligner-case {
  width: 50vw;
  height: 90vh;
}

.text-area-4 {
  padding: 4em 15em 0em 5em;
}
#main-text-4 {
  color: #ffffff;
  padding-bottom: 0.5em;
}

.sub-text-4 {
  font-weight: bold;
  padding-bottom: 0.25em;
}

.sub-sub-text-4 {
  padding-right: 4em;
  padding-bottom: 2em;
  font-weight: 200;
  font-size: 18px;
  line-height: 2em;
}

#main-area-5 {
  padding: 4em 10em 4em 5em;
}

#Girl_Teal-Shirt-1024x873 {
  height: 70vh;
  width: 40vw;
}

#main-text-area-5 {
  padding: 3em 5em 3em 7em;
}

#main-text-5 {
  padding-bottom: 0.5em;
}

#sub-text-5 {
  padding-right: 4em;
  padding-bottom: 2em;
  line-height: 2em;
}

.sub-sub-text-5 {
  align-items: center;
  padding: 1em 0em 0.5em 0em;
}

.red,
.blue,
.yellow,
.black {
  margin-right: 0.5em;
}
.red {
  color: #f48471;
}

.blue {
  color: #74c2d1;
}

.yellow {
  color: #fec16e;
}

.white {
  color: #ffffff;
}

.bold {
  font-weight: bold;
}

.how-it-works-button {
  padding: 15px 20px 15px 20px;
  margin-top: 2em;
}

#main-area-6 {
  background-color: #f4f9fa;
}

#text-area-6 {
  padding: 10em 10em 9em 4em;
  flex-direction: column;
}

#FXOnTrack-Image {
  width: 50vw;
  height: 36vw;
}

#main-text-6 {
  padding-bottom: 0.5em;
}

#sub-text-6 {
  line-height: 2em;
}

#main-area-7 {
  padding: 5em 5em 5em 4.5em;
}

#text-area-7 {
  margin-bottom: 3em;
}

#main-text-7 {
  margin-right: 20em;
  margin-bottom: 0.75em;
}

#sub-text-7 {
  padding-right: 40em;
  line-height: 2em;
}

#images-area-7 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1em;
  row-gap: 1em;
  margin: 0em 1em 0em 1em;
}

#images-area-7 > * {
  width: 20m;
  height: 15em;
}

#main-area-8 {
  background-color: #f48471;
}

#text-area-8 {
  padding: 10em 0em 8em 4em;
}

#main-text-8 {
  color: #ffffff;
  padding-bottom: 1em;
}
#welcome-socks {
  width: 75vw;
  height: 80vh;
}

#sub-text-8 {
  color: #ffffff;
}

#main-sub-text-8 {
  font-family: "Rocoleta";
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 2em;
}

#sub-text-8 {
  line-height: 2em;
}

#main-area-9 {
  background-color: #74c2d1;
}

#text-image-area-9 {
  padding: 5em 5em 2em 4em;
}

.main-text-9 {
  color: #ffffff;
  padding-bottom: 1em;
}

#text-area-9 {
  padding: 2em 7em 1em 2em;
}

.sub-text-9 {
  color: #ffffff;
  line-height: 2em;
  padding-right: 6em;
  padding-bottom: 1em;
}

#TechIllustrateDiagram {
  width: 45vw;
  height: auto;
}

#faq {
  padding: 0em 5em 8em 6em;
}

.faq-box {
  background-color: #ffffff;
  margin: 1em 0em 1em 0em;
  border-radius: 5px;
}

.faq-answer {
  color: #ffffff;
  display: none;
  margin-bottom: 15px;
  padding: 1em;
}

.faq-label {
  display: inline-block;
  width: 99%;
  padding: 1em 0em 1em 1em;
}

#tab1,
#tab2,
#tab3,
#tab4,
#tab5 {
  display: none;
}

.faq-box input[type="radio"]:checked + label + div {
  display: block;
  background-color: #74c2d1;
}

#main-area-10 {
  background-color: #f2f5f8;
  padding: 7em 5em 2em 4em;
}

#text-area-10 {
  padding: 2em 0em 0em 0em;
}

#main-text-10 {
  margin-bottom: 0.75em;
  margin-right: 3em;
}

.sub-text-10 {
  margin-bottom: 3em;
}

#view-results {
  color: #ee6d57;
  border-bottom: 2px solid #ee6d57;
  padding-bottom: 0.75em;
  width: fit-content;
}

#view-results:hover {
  color: #ee9788;
  border-color: #ee9788;
}

.smile-image-area {
  margin: 0em 2em 0em 2em;
}

.smile-images {
  height: 18em;
  width: 18em;
}

#text-area-11 {
  background-color: #f48471;
  padding: 7em 5em 2em 4em;
}

#main-text-11 {
  color: #ffffff;
  padding-bottom: 1em;
}

#sub-text-11 {
  color: #ffffff;
  line-height: 2em;
  padding-right: 10em;
  padding-bottom: 2em;
}

#travel-kit {
  width: 50vw;
  height: auto;
}

#main-area-12 {
  justify-content: space-between;
  background-color: #f2f5f8;
  padding: 3em 2em 3em 2em;
}

.section-12-box {
  width: 29vw;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0em 1em 0em 1em;
}

.box-image {
  width: 29vw;
  height: 40vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box-text-area {
  margin: 0em 2em 1em 1em;
}

.box-sub-text-area {
  font-size: 14px;
}

.box-read-more {
  padding: 2em 1em 1em 0em;
  font-size: 14px;
}

.box-date {
  color: #adadad;
  font-size: 12px;
  margin: 1em 1em 0.5em 0em;
  padding-top: 0.5em;
  border-top: 1px solid #adadad;
}

#main-area-13 {
  padding: 4em 4em 2em 4em;
  border-bottom: 2px solid #fec112;
}

#main-text-13 {
  padding-bottom: 0.5em;
}

.sub-text-heading-13 {
  font-size: 16px;
  color: #404041;
  line-height: 2em;
}

.sub-text-13 {
  line-height: 1.5em;
  font-size: 16px;
  color: #404041;
  padding-bottom: 2em;
}

#main-area-14 {
  background-color: #f8f8f8;
  padding: 4em 6em 4em 6em;
  font-size: 14px;
}

#logo-footer {
  width: 10em;
  height: 2.5em;
  padding-bottom: 1.5em;
}

#area-14-section-1 {
  max-width: 15em;
  line-height: 1.5em;
}

#footer-social-media-logos {
  padding-top: 0.5em;
  width: 9vw;
}

.area-14-section-2-3-4 {
  padding: 0em 3em 0em 3em;
  flex-direction: column;
}

.footer-section-heading {
  color: #b0b1b0;
  font-size: 12px;
  font-weight: bold;
  padding: 0em 0em 1em 1em;
}

.footer-section-options {
  padding: 0.5em 0em 0.5em 0em;
  font-size: 14px;
}

.footer-section-options:hover {
  color: #f18a79;
}

.area-14-section-5 {
  padding-left: 5em;
  max-width: 25em;
}

.footer-section-5-heading {
  color: #b0b1b0;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 1em;
}

.footer-section-5-options {
  padding: 0em 0em 1.5em 0em;
  line-height: 1.5em;
}

#footer-email {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #404041;
  min-width: 14em;
}

#footer-subscribe-button {
  color: #ffffff;
  background-color: #404041;
  padding: 1em 3em 1em 3em;
  border-radius: 5px;
  border: 1px solid #404041;
}

#footer-subscribe-button:hover {
  background-color: #656566;
}

#main-area-15 {
  background-color: #ececec;
  padding: 1em 6em 1em 6em;
  font-size: 14px;
}

.ofx-2022 {
  padding-left: 30vw;
  color: #b0b1b0;
}
